<% include ./partials/header %>

<div class="form-con">
    <form action="/deals" method="POST">
        <h3>Create a deal</h3>
        <input class="text-form acc" type="text" name="postcard[location]" placeholder="Holiday location">
        <input class="text-form acc" type="text" name="postcard[price]" placeholder="Price">
        <input class="text-form acc" type="text" name="postcard[flight]" placeholder="Flight link">
        <input class="text-form acc" type="text" name="postcard[hotel]" placeholder="Hotel link">
        <input class="text-form acc" type="text" name="postcard[image]" placeholder="Image">
        <input class="text-form acc" type="text" name="postcard[nights]" placeholder="Amount of nights">
        <textarea class="text-form acc" name="postcard[desc]" cols="30" rows="10">Additional information</textarea>
        <input class="g-btn form-btn" type="submit" value="Create">
    </form>
</div>

<% include ./partials/footer %>