<% include ./partials/header %>

<div class="form-con">
    <form action="/login" method="POST">
        <h1>Welcome Back</h1>
        <input class="text-form acc" type="text" name="username" placeholder="User">
        <input class="text-form acc" type="password" name="password" placeholder="Password">
        <input class="g-btn form-btn" type="submit" value="Login">
    </form>
</div>

<% include ./partials/footer %>